.ReactLogo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .ReactLogo {
    animation: ReactLogo-spin infinite 20s linear;
  }
}

@keyframes ReactLogo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
